@media (max-width: 925px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
        padding: 0px 30px;
    }

    .hero {
        height: auto;
        min-height: 100vh;
    }

    .hero__content {
        flex-grow: 1;
        flex-direction: column;
        padding: 60px 56px 0px 56px;
        max-width: 570px;
        margin: 0 auto;
    }

    .hero__desc {
        margin-bottom: 100px;
    }

    .hero__btn-wrap {
        width: 100%;
        text-align: center;
    }
}
@media(max-with786){
    .help__list{
        gap: 55px 60px;
    }
    .help__item{
        flex: 0 0 170px;
    }
}