:root {
    --color-light-xl: #fff;
    --color-light-l: #f6f6f6;
    --color-light-s: #fafafa;
    --color-dark-s: #cdcdcd;
    --color-dark-m: #b2b2b2;
    --color-dark-l: #545454;
    --color-dark-xl: #4c4c4c;
    --color-dark-2xl: #444;
    --color-dark-3xl: #292929;
    --color-primary: #f1cdb3;
    --color-primary-light: #fddcc4;
    --start-screen-gradient-background: #211f20;
    --footer-gradient-background: #211f20;

    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    font-family: var(--font-family);
    overflow: hidden;
}

.container {
    max-width: 1240px;
    padding: 0px 20px;
    margin: 0 auto;
}

.hero {
    height: 100vh;
    min-height: 650px;
    background: url(../img/bg/noise_transparent.png), url(../img/bg/start-screen-gradient-background.png);
}

.hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    display: block;
}

.logo__title {
    font-family: Georgia, sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: var(--color-primary);
    margin-bottom: 10px;
}

.logo__subtitle {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: var(--color-light-xl);
}


.nav__list {
    display: flex;
    column-gap: 35px;
}

.nav__item {
    padding-bottom: 6px;
}

.nav__item:hover {
    border-color: var(--color-primary);
}

.nav__link {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    color: var(--color-light-s);
}

.burger {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.burger__el,
.burger__el::before,
.burger__el::after {
    display: block;
    height: 2px;
    background-color: #F1CDB3;
    width: 100%;
}

.burger__el::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.burger__el::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
}

.hero__content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    overflow: hidden;
}


.hero__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 460px;
}

.hero__desc .title {
    margin-bottom: 42px;
}

.title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 44px;
    color: var(--color-light-xl);
    max-width: 310px;
}

.paragraph {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.hero__paragraph {
    margin-bottom: 42px;
    margin-top: 0;
    color: var(--color-dark-s);
}

.btn {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    border-radius: 100px;
    padding: 15px 45px;
    display: inline-block;
    background: var(--color-primary);

}

.hero__img-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.about {
    padding: 80px 0px 100px;
    background: var(--color-light-xl);
}

.about__content {
    display: flex;
}

.about__img-wrap {
    width: 50%;
    text-align: center;
}


.about__desc {
    width: 50%;
    max-width: 430px;
}

.section-title {
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.about__title {
    margin-bottom: 25px;
}

.about__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
}

.friends {
    background: var(--color-light-l);
    padding-top: 80px;
    padding-bottom: 100px;
}

.friends__title {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    margin-bottom: 60px;
}

.friends__slider {
    position: relative;
    padding: 0px 52px;
}

.slider__controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.slider__control {
    display: block;
    transform: translateY(-50%);
    position: absolute;
}

.slider__control-prev {
    left: 0;
}

.slider__control-next {
    right: 0;
}

.friends__list {
    display: flex;
    max-width: 990px;
    margin: 0 auto;
    justify-content: space-between;
}



.friend {
    width: 270px;
    overflow: hidden;
}



.help {
    padding-bottom: 107px;
}

.help__container {
    max-width: 1066px;
}

.help__title {
    text-align: center;
    margin-top: 80px;
    font-weight: 400;
    font-size: 35px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.help__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 55px;

}

.help__item {
    margin-right: 120px;
    text-align: center;
}

.list__title {
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}